.flag {
	margin: 30px;
	width: 600px;
	height: 400px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}

/* Flag of Belgium */
.black {

	width: 200px;
	height: 400px;
	background: black;
	float: left;
}

.yellow {
	width: 200px;
	height: 400px;
	background:yellow;
	float: left;
}
.stripe {
	width: 200px;
	height: 400px;
	background: red;
	float: left;
}

/* Flag of Japan */

.circle{
	width: 200px;
	height: 200px;
	background: red;
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* Flag of Trinidad and Tobago */

.red {
	position: absolute;
	width: 600px;
	height: 400px;
	background: red;
}

.horizontal {
	position: absolute;
	width: 1000px;
	height: 100px;
	background: black;
	border: solid white 15px;
	left: -53%;
	top: 10%;
	transform: rotate(45deg);
}